<h1>Post Review for <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder:"Great Place!" %>
  <%= f.submit "Post Review",  class:"btn btn-primary" %>
<% end %>
